.login-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5rem;
    background-color: #f4f4f4;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-container input,
  .login-container select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #45a049;
  }
  